.header {
  position: absolute;
  width: 100%;
  z-index: 1;
  /* background-color: red; */
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 32px 24px;
}

.header__logo {
  font-size: 1.5rem;
  font-weight: 500;
}

.header__our-clients {
  display: none;
}

@media screen and (min-width: 320px) {
  .header__our-clients {
    display: block;
  }
}