.hero-section {
  height: 100vh;
}

.hero-section__container {
  position: relative;
  padding: 0 24px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-top: 300px;

}

.hero-section__heading {
  color: whitesmoke;
  font-size: clamp(2rem, 1.7037rem + 1.4815vw, 3rem);
  font-weight: 400;
  font-family: "Lora", serif;
  text-transform: uppercase;
}

.hero-section__heading div {
  position: relative;
  height: clamp(2rem, 1.7037rem + 1.4815vw, 3rem);
  overflow: hidden;
}

.hero-section__heading span {
  position: absolute;
  display: inline-block;
  top: 0;
  transform: translateY(-100%);
  animation-name: text-animation-in;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.hero-section__heading div:nth-child(1) span {
  animation-delay: 4000ms;
}
.hero-section__heading div:nth-child(2) span {
  margin-left: 40px;
  animation-delay: 4200ms;
}
.hero-section__heading div:nth-child(3) span {
  margin-left: 80px;
  animation-delay: 4500ms;
}
.hero-section__heading div:nth-child(4) span {
  animation-delay: 4800ms;
}


.based-in {
  color: white;
  font-size: 11.398px;
  text-transform: uppercase;
}

.hero-section__end {
  display: flex;
  justify-content: space-between;
  /* position: absolute; */
  width: 100%;
  /* inset: 0; */
  /* bottom: 5%; */
}